.p0{
    padding: 0px;
}
.p10{
    padding: 10px;
}
.p20{
    padding: 20px;
}
.p30{
    padding: 30px;
}
.pt0{
    padding-top: 0px;
}
.pt10{
    padding-top: 10px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
   padding-top: 30px;
}